.root {
    -fx-base: rgb(33, 48, 54);
    -fx-background: rgb(33, 48, 54);
    -fx-border-color: rgb(44, 62, 69);

    /* make controls (buttons, thumb, etc.) slightly lighter */
    -fx-color: derive(-fx-base, 10%);

    /* text fields and table rows background */
    -fx-control-inner-background: rgb(41, 56, 62);
    /* version of -fx-control-inner-background for alternative rows */
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 2.5%);

    /* text colors depending on background's brightness */
    -fx-light-text-color: rgb(220, 220, 220);
    -fx-mid-text-color: rgb(100, 100, 100);
    -fx-dark-text-color: rgb(20, 20, 20);

    /* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars */
    -fx-accent: rgb(0, 80, 100);

    /* color of non-focused yet selected elements */
    -fx-selection-bar-non-focused: rgb(50, 50, 50);

    -fx-font-family: "Roboto";
    /*-fx-font-size: 1em;*/
}

.root .button:pressed:hover {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.root .toggle-button:pressed:hover {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}